<div class="row col-md-12">
    <div class="col-md-2 col-sm-0 name-tile">
        <img [src]="this.user.avatarUrl" class="img-thumbnail img-fluid">
    </div>
    <div class="col-md-10 content-tile">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="토론 제목" aria-label="Recipient's username" aria-describedby="basic-addon2"
                [(ngModel)]="discussion.title">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="discussion.content"></textarea>
        </div>
        <div class="float-right mb-3">
            <button class="btn btn-primary" [hidden]="!isAdd" (click)="addDiscussion()">등록하기</button>
            <button class="btn btn-primary" [hidden]="isAdd" (click)="modifyDiscussion()">수정하기</button>
            <button class="btn btn-warning" (click)="backToDiscussion()">취소하기</button>
        </div>
    </div>
</div>
