<div class="row col-md-12">
    <div class="col-md-2 col-sm-0 name-tile">
        <img [src]="this.user.avatarUrl" class="img-thumbnail img-fluid">
    </div>
    <div class="col-md-10 content-tile">
        <div class="mb-3 media-body">
            <h3 class="mt-0">{{ discussion.title }}</h3>
            <p>
                <span>{{ discussion.author }}</span> <span>{{ discussion.regiDate | fromNow }}</span>
            </p>
            {{ discussion.content }}
        </div>
    </div>
</div>
<div class="row col-md-12 comment-tile">
    <div class="col-md-12">
        <span>댓글 ({{comments.length }})</span>
    </div>
</div>
<div *ngFor="let comment of comments">
    <div class="media">
        <img class="align-self-start img-thumbnail img-fluid mr-3" [src]="this.user.avatarUrl" alt="Generic placeholder image">
        <div class="media-body col-md-12">
            <p><span>{{ comment.author }}</span> <span>{{ comment.regiDate | fromNow }}</span></p>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
</div>