<div class="row col-md-12">
  <div class="col-md-2 col-sm-0 name-tile">
      {{ discussion.author }}
      asdf
      asdf
      sdf
  </div>
  <div class="col-md-10 content-tile">
        <span>{{ discussion.title }}</span><br>
        <span>{{ discussion.author }}</span> <span>{{ discussion.regDate | fromNow }}</span>
  </div>
  <div class="line offset-md-2 col-12 col-md-10"></div>
  <div class="offset-md-2 col-md-10">
    <span>
        {{ discussion.content }}
    </span>
  </div>
</div>

<div>
    Comments ({{ comments.length }})
</div>

<div>
  <div class="row" *ngFor="let comment of comments">
    <div>
      <h1>{{ comment.author }}</h1>
    </div>
    <div>
      <div>
          {{ comment.author }} {{ comment.regDate | fromNow }}
      </div>
      <div>
          {{ comment.comment }}
      </div>
    </div>
  </div>
</div>