<div class="card mb-3">
    <!--
    <div class="card-header">
        <img class="img-fluid mx-auto d-block" [src]="background.imagePath"  width="100%">
        <h3>{{background.label}}</h3>
        <p>{{background.text}}</p>
        <a href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">Learn more »</a>
    </div>
    -->

<!--
{
  "competitionOverviewId": 1,
  "competitionId": 1,
  "description": "description1",
  "evaluation": "evaluation1",
  "prizes": "prizes1",
  "kernelsFaq": "kernels_faq1",
  "timeline": "timeline1",
  "regiDate": "2018-03-28T00:00:00"
}
-->

<div class="card-header">Overview</div>
    <div class="card-body">
        <!--<ngb-tabset type="pills" [orientation]="currentOrientation">-->
        <ngb-tabset *ngIf="overview">
            <ngb-tab title="Description">
                <ng-template ngbTabContent>
                    <p> {{ overview.description}} </p> 
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Evaluation</b> title</ng-template>
                <ng-template ngbTabContent>
                    <p> {{ overview.evaluation }} </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Prizes</b> title</ng-template>
                <ng-template ngbTabContent>
                    <p> {{ overview.prizes }} </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Disabled" [disabled]="true">
                <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>