<div class="container">
    <div class="col-sm-12" style="margin:0 auto;">
        <div class="card mb-3">
            <div class="card-header"> {{ discussions.length }} topics </div>
            <table class="card-body table table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr *ngFor="let discus of discussions" (click)="goToDetail(discus)">
                        <td></td>
                        <td>
                            <span>{{ discus.title }}</span><br>
                            <span>{{ discus.author }}</span> <span>{{ discus.regDate | fromNow }}</span></td>
                        <td>
                            <span>last commented by</span><br>
                            <span>Gowri Shankar</span>
                            <span>2d ago</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>